
.cardwrapper_pf{
    display: flex;
    overflow: hidden;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
}

.card_pf{
    cursor: pointer;
    border-radius: 25px;
    margin: 12px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    height: 300px;
    min-width: 300px;

    overflow: hidden;
    background: url(img/bg_banner.jpg) no-repeat center;
    background-size: cover;
}

.card_pf h3{
    margin-top: 275px;
}



/*
.content_gal{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content_gal::-webkit-scrollbar {
    height: 0px;
}

.content_gal:after{
    content: '';
    left:80px;
    height: 100%;
    position: absolute;
    width: 150px;
    z-index: 100;
    pointer-events: none;
}

.content_gal:before{
    content: '';
    right:80px;
    height: 100%;
    position: absolute;
    width: 150px;
    z-index: 100;
    pointer-events: none;
}

.con_cards{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    scroll-behavior: smooth;
}

.con_cards::-webkit-scrollbar{
    height: 0px;
}

.con_cards:after{
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

.con_btn{
    min-width: 60px;
    height: 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 200;
    margin: 10px;
    box-shadow: 0 0 0 0 rgba(0,0,0,.08 );
    transition: all .25s ease;
}

.con_btn:hover{
    transition: translate(0,-10px);
    box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
}

.con_btn i {
    font-size: inherit;
}

.card_folio{
    width: 300px;
    min-width: 150px;
    height: auto;
    background: #4A4A49;
    border-radius: 25px;
    position: relative;
    margin: 12px;
    min-height: 200px;
    transition: all .25s ease;
    cursor: pointer;
}

.card_folio:hover{
    transform: translate(0, -10px);
}

.card_folio h3{
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 15px;
    margin-left: 15px;
}

.con_img {
    position: relative;
    height: 100px;
    overflow: hidden;
    background: url(img/bg_banner.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    justify-content: center;
}


