@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

/* Basic */


body, input, select, textarea {
    font-family: 'Roboto', sans-serif;
    background-color: #222726;;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.65em;
}

ol, ul {
	list-style: none;
}

ul a {
    text-decoration: none;
}
  
/* General */
.dashline {
    background-color: #222726;
    border-top: 2px dashed #8c8b8c;
    margin: 25px;
    

}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 28px;
    color: #F2F2F2;
    text-align: left;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 20px;
    color: #F2F2F2;
    padding-left: 25px;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-size: 1em;
    line-height: 1.1em;
    color: #F2F2F2;
}

/* Nav */
nav {
    font-family: Roboto condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.1em;
}

/* Banner */

#banner {
    position: relative;
    height: 110vh;
    overflow: hidden;
    background: url(img/bg.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    justify-content: center;
}

.banner_logo {
    text-align: center;
    min-width: 80px;
    max-width: 180px;
    min-height: 80px;
    max-height: 180px;
}

.banner_typo {
    text-align: center;
    min-width: 240px;
    max-width: 480px;
    min-height: 140px;
    max-height: 280px;
}

.banner-con{
    margin-top: 10%;
}

.banner-txt-con{
    padding: 25px;
}

.banner1{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #F2F2F2;
}

.banner2{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #F9B82A;
}

    /* intro */

.introvid{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    padding: 32px 24px 24px 32px;
    background: #FF565E;
    box-shadow: 0px 1px 14px #19282F;
    border-radius: 25px;
    margin: 25px;
    max-width: 780px;
    text-align: center;
    justify-content: center;
    justify-self: center;
}

.vid_container{
    position: relative;
    width: 100%;
    padding-bottom: 50%; 
    height: 0;
    margin-top: 25px;
}

.vid_container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 12px;
    }

    /* portfolio */

#portfolio h2, p {
    margin-left: 25px !important;
}

.card-type1{
    background-color: #4A4A49;
    margin: 12px;
    padding: 0px;
    text-align: center;

    border-radius: 25px;
}

.card-type1 img {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    display: block;
}

.card-type1-name{
    font-weight: 500;
    font-size: 1em;
    color: #F2F2F2;
    position: absolute;
    bottom: 0px;
    right:12px;
    padding: 12px;
    text-align: center;
}
    /* portfolio end */

    /* courses */

    #courses h2, p {
        margin-left: 25px !important;
    }

.conwrapper{
    height: 100%;
    width: 100%;
}

.cardbox{
    margin-top:25px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-type2{
    background-color: #4A4A49;
    margin: 25px;
    padding: 0px;
    text-align: center;
    min-height: 420px;
    min-width: 300px;
    border-radius: 25px;
}

.card-type2-title{
    font-family: Roboto condensed;
    font-weight: bold;
    margin-bottom: 0;
}

.card-type2-date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1em;
    color: #96A7AF;
    margin-top: 0;
}

.card-type2-about {
    font-size: 14px;
    line-height: 18px;
}

.card {
    max-width: 100%;
    overflow: hidden;
}
.card-text {
    word-wrap: break-word;
}

.btn-100{
    background: linear-gradient(180deg, #F7E660 0%, #F8C237 100%);
    bottom: 0;
    /*text*/
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: #222726;
}

.btn-101-outline{
    /*shape*/
    text-align: center;
    max-width: 50%;
    border: 4px solid #F7E35D;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #222726;
    /*text*/
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%px;
    color: #F7E45D;
}

    /*services*/
.conwrapper_s{
    background: #4A4A49;
    border-radius: 40px 0px 40px 0px;
    padding: 25px;
    width: 100%;
    height: 100%;
}

.conwrapper_s h2, p {
    margin-left: 25px !important;
}

.card-type3 {
    margin: 12px;
    width: 300px;
    height: 100px;
    border-radius: 25px;
    display: inline-block;
    position: relative;
    padding-top: 8px;
    min-width: 300px;
}

.card-type3 img {
    height: 80px;
    width: 80px;
    float:left;
    margin-left: 25px;
    margin-right: 0;
}
.card-type3-text {
    float:left;
    margin-left: auto;
    text-align: left;
    padding-top: 20px;
}

.card-type3-title {
    color: #1A3B34;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 25px;
}

.card-type3-cta {
    color: #1A3B34;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-left: 12px;
}

.card-type3-white {
    background-color: #F2F2F2;
}

.card-type3-red {
    background-color: #FF565E;
}

.card-type3-green {
    background-color: #09C372;
}

.card-type3-bluelight {
    background-color: #54C5F8;
}

.card-type3-bluedark {
    background-color: #2496ED;
}

.card-type3-yellow {
    background-color: #F7E35D;
}

/* clients */

#clients{
    padding:25px;
}

#clients h2{
    margin-left: 25px;
}


/* contact */

#quote{
    padding:25px;
    color: #f2f2f2;
}

#quote h2{
    margin-left: 25px;
}

.form-con{
    max-width: 980px;
    background-color: #2C302F;
    padding: 25px;
    border-radius: 25px;
}

/* copyright */

.copyright{
    text-align: center;
    margin: auto;
    padding: auto;
    align-self: center;
}

.fab {
    color:#f2f2f2;
    margin: 6px;
}